<section class="outer">
    <h1 class="page-type-title"><%= __('collect') %></h1>
    <%-page.content%>
    <%- partial('_partial/google-adsense-hor-block') %>
    <%- partial('_partial/google-adsense-square-block') %>
</section>