<section class="outer">
    <h1 class="page-type-title"><%= __('collect') %></h1>
    <%-page.content%>
    <% if (theme.googleAdsense) { %>
        <%- partial('_partial/google-adsense-multi-block') %>
    <% } %>
</section>