<div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3212792993036515"
            crossorigin="anonymous"></script>
    <!-- lovexy.fun纵向广告2 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:200px;height:400px"
         data-ad-client="ca-pub-3212792993036515"
         data-ad-slot="8957653573"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
