<div style="display: inline-block">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3212792993036515"
            crossorigin="anonymous"></script>
    <!-- lovexy.fun横向广告3 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:300px"
         data-ad-client="ca-pub-3212792993036515"
         data-ad-slot="5266854415"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>