<div id="mask"></div>

<!-- #reward -->
<div id="reward">
  <span class="close"><i class="ri-close-line"></i></span>
  <p class="reward-p"><i class="ri-cup-line"></i><%= theme.reward_wording%></p>
  <div class="reward-box">
    <% if(theme.alipay) {%>
    <div class="reward-item">
      <img class="reward-img" src="<%- url_for(theme.alipay) %>">
      <span class="reward-type">支付宝</span>
    </div>
    <% } %>
    <% if(theme.weixin) {%>
    <div class="reward-item">
      <img class="reward-img" src="<%- url_for(theme.weixin) %>">
      <span class="reward-type">微信</span>
    </div>
    <% } %>

    <div style="width: 60rem;height: 40rem;">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3212792993036515" crossorigin="anonymous"></script>
      <!-- lovexy.fun方块广告 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-3212792993036515"
           data-ad-slot="5314073995"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>